/* TaskItem.css */
.task-item {
  background-color: #e8ece7;
  border-radius: 0px;
  padding: 6px;
  margin-top: 20px;
  margin-bottom: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.task-item h3 { /* task title */
  margin-top: 0;
  display: flex;
  align-items: center;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.task-item h6 {  /* task priority */
  margin-right: 3px;
  position: absolute; 
  right: 10px; 
}

.task-item q { /* description */
  margin-bottom: 8px;
  font-size: 14px;
  background-color: #e8ece7;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.task-item > p { /* assignee  */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px; 
}

.task-buttons {
  display: flex;
}

.options-button { /*option button */
  background-color: rgb(255, 255, 255);
  font-size: 16px;
  cursor: pointer;
}

.task-options {  /* edit and delete pop up main box */
  position: relative;
  right: 0; 
  background-color: #e4e6e3;
  border-radius: 1px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 2px;
  z-index: 1;
}

.task-options button { /* edit and delete pop up buttons */
  display: block;
  width: 100%;
  text-align: left;
  padding: 4px 8px;
  background-color: #ebe5e5;
  border: none;
  cursor: pointer;
}

.task-options button:hover {
  background-color: #b0f4b1;
}

.assign-button { /* assignn button */
  align-self: center;
  margin-top: 10px;
}
  
