/* styles.css */

.app-container {  /* main app */
  background-color: rgb(120, 122, 122);
  border: 10px solid #333;
  border-radius: 20px;
  padding: 20px;
  max-width: 1100px;
  max-: 1100px;

  margin: 0 auto;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.top-bar button {
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #61c0ec;
  color: white;
  border: none;
  cursor: pointer;
}

.sort-bar {
  margin-bottom: 20px;
}

.box-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-top: 20px; /* Add padding between the "Add Task" button and the boxes */
}

.box {
  background-color: #f0f0f0;
  padding: 5px;
  border-radius: 5px;
  flex: 1;
  margin-right: 10px;
  position: relative;
  height: 300px; /* Adjust this value to your desired height */
  overflow-y: auto; /* Enable vertical scrolling */
}

.box-title {
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  position: sticky; /* Make the title sticky */
  top: 0; /* Position the title at the top */
  left: 0;
  right: 0;
  text-align: center;
  border-radius: 5px;
  z-index: 1; /* Ensure the title is above the box content */
}

.modal {   /* add task form*/
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(117, 111, 111);
    padding: 20px;
    z-index: 1000;
    width: 600px;
    height: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .form input,
  .form textarea {
    margin-bottom: 10px;
  }
  
  .form textarea {
    height: 10px;
  }
  
  .form button[type="submit"] {
    align-self: flex-start;
  }
  
  .cancelButton {
    margin-top: 10px;
  }